/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------Inicio cabeçalho---------------*/

header, #help-icon{
    font-family: 'Josefin Sans', sans-serif;
}

body, input, textarea{
    font-family: 'Roboto Mono', monospace;
}

header{
    padding: 24px 0;
    background-color: rgba(233, 97, 18,1);
    color: #fff;
}

header nav li{
    display: inline;
    margin-left: 48px;
    font-size: 14px;
}

header nav li a{
    color: #fff;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

.container {
    max-width: 1180px; 
    width: 100%; 
    margin: 0 auto; 
}

header .container,
section .container {
    display:flex; 
    align-items: center; 
    justify-content: space-between; 
}

/*--------------Fim cabeçalho---------------*/

/*--------------Inicio seção sobre---------------*/
.logo{
    margin-top: 36px;
    height: 480px;
}

#column-about{
    margin-left: 48px;
}

#column-about h2{
    margin-bottom: 16px;
}

.social-links img{
    height: 24px;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links li a{
    text-decoration: none;
    margin-right: 16px;
}

#column-about .social-links{
    display: flex;
}

#column-about{
    position: relative;
}

#column-about .social-links{
    position: absolute;
    padding: 24px 0;
    left: 0;
}
/*--------------Fim seção sobre---------------*/

/*--------------Inicio seção preciso de ajuda---------------*/

#contact .container{
    display: block;
    margin-top: 36px;
}

#contact .container h2{
    width: 320px;
    background-color: rgba(233, 97, 18,0.3);
    padding:6px;
    margin-bottom: 16px;
    color:rgba(233, 97, 18,0.8);
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

input:focus, textarea:focus{
    outline-color: rgba(233, 97, 18,1);
}

form button{
    background-color: rgba(233, 97, 18,0.4);
    color: red;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color:rgba(233, 32, 18, 1);
    color: #fff;
}

#contact .container{
    position: relative;
}

#help-icon{
    position: absolute;
    right: 21%;
    top: 30%;
    font-size: 120px;
    text-shadow: 0.015em 0.015em rgb(161, 151, 144);
    color: rgba(233, 97, 18,1);
}

#help-icon .slogan{
    font-size: 22px;
    color: #333;
    text-align: center;
}

/*--------------fim seção preciso de ajuda---------------*/

/*--------------Inicio footer---------------*/

footer{
    background-color: rgba(233, 97, 18,1);
    color:#fff;
    padding: 8px 0;
    margin-bottom: 8px;
}

/*--------------fim footer---------------*/

